.products-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-bar{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem
}

select{
    border-radius: 10px;
    padding: 0.4rem;
}

.pages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.currentPage{
    background-color: var(--primary-color-disabled)
}