<main>
    <div class="container">
        <div class="main-container">
            <h1>{{categoryName}}</h1>
            <div class="filter-bar">
            <select #priceFilter>
                <option value="0">Any Price</option>
                <option value="25">Less than £25</option>
                <option value="50">Less than £50</option>
                <option value="100">Less than £100</option>
                <option value="300">Less than £300</option>
                <option value="500">Less than £500</option>
                <option value="1000">Less than £1000</option>
            </select>

            <select #ratingFilter>
                <option value="0">Any Rating</option>
                <option value="3">Greater than 3</option>
                <option value="5">Greater than 5</option>
                <option value="10">Equal to 10</option>
            </select>

            <button class="btn" (click)="filterProducts(priceFilter.value, ratingFilter.value)">Apply Filter</button>
        </div>
            <div class="products-container">
                <app-product-item *ngFor="let item of products" [itemInfo]="item"></app-product-item>
            </div>
        </div>

        <div class="pages-container mt-2" *ngIf="pageNumbers.length > 1">
            <button class="btn" *ngFor="let num of pageNumbers" (click)="changePage(num)" [ngClass]="num == currentPage ? 'currentPage' : ''">{{num}}</button>
        </div>
    </div>
</main>
