h2{
    font-size: 2rem;
}

h3{
    margin-bottom: 1rem;
}

select{
    border-radius: 10px;
    padding: 0.4rem;
    margin-bottom: 1rem;
}

.controls-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.product-controls{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border-right: 2px solid var(--third-color);
}

.user-controls{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 700px) {
    .controls-container{
        flex-direction: column;
        text-align: center;
    }

    .product-controls{
        border-right: none;
        padding: 0rem;
        width: 100%;
    }

    .user-controls{
        border-top: 2px solid var(--third-color);
        padding: 2rem;
        margin-top: 2rem;
        width: 100%;
    }
}